## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s = "Hi there Sam!"
print(s.split(" "))

['Hi', 'there', 'Sam!']

In [8]:
s = "Hi there dad!"
print(s.split(" "))

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [36]:
word="the diameter of {planet} is {diameter} kilometers."
final=word.format(planet="Earth",diameter=12742)
print(final)

the diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [26]:
lst = [45,30,[31,4],[6,[100,200,['hello']],2,1],1,7]

In [24]:
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [31]:
d = {'k1':[1,2,3,{'first':['A','AB','AC',{'second':[1,2,3,'hello']}]}]}

In [32]:
print(d['k1'][3]["first"][3]["second"][3])

hello

** What is the main difference between a tuple and a list? **

In [34]:
# tuple is Immutable 
#list is Mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [38]:
def getEmail(email):
    print(email.split('@')[-1])

email = input("Please enter your email Id : ")
getEmail(email)

Please enter your email Id : 1915049@nec.edu.in
nec.edu.in

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [43]:
def matchDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

val = "Dog is where ? dog is here"
matchDog(val)

True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [49]:
def dog_count(sentence):
    words = sentence.split('')
    k=0
    for i in range(len(words)):
        words[i]=words[i].lower()
    for i in words:
      if(i=='dog'):
         k+=1
      return k

In [57]:
value = 'This dog runs faster than the other dog dude!';
count=0

def countdogs(value,count):
  word=value.split(" ")
  for i in word:
    if(i== 'dog'):
      count+=1
  return count
    

print(countdogs(value,count))

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [58]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [59]:
print(caught_speeding(90, False))

Big Ticket

In [60]:
print(caught_speeding(81, True))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [64]:
employee_sal=[5000,7000,11000,30000,4200]
total_expenditure=0
for i in employee_sal:
  total_expenditure +=i
print('total salary expenditure is',total_expenditure)

total salary expenditure is 57200

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [65]:
def Merge(dict1, dict2):
	return(dict2.update(dict1))



file1 = {'empid': 13, 'empname':'shan','basicpay': 60000}
file2 = {'deptname': 'analytics', 'deptid': 7}

print( Merge(file1, file2))


print(file2)

None
{'deptname': 'analytics', 'deptid': 7, 'empid': 13, 'empname': 'shan', 'basicpay': 60000}